<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset = "UTF-8">
        <link rel="stylesheet" type = "text/css" href="css/styles.css">
    </head>
    <header>
        <%- include('./partials/header.ejs'); %>
    </header>
    <body>
    <div class = "flex-aboutbox-container">
        <div class = "flex-aboutbox-top">
            This site was created as a part of the <br>
            Fall 2022 <a href="https://www.cpp.edu/~shecodes/">sheCodes</a> SLP project. <br>
        </div>
        <div class = "flex-aboutbox-bottom">
            <h2>Contributors:</h2> <br>
            <p>
            <li>Tiffany Truong, Team Lead </li>
            <li>Mohraiel Matta </li>
            <li>Katelyn Mijares </li>
            <li>Andrew Perez</li>
            <li>Lindsay Kislingbury </li>
            </p>
        </div>
        <div class = "flex-aboutbox-bottom">
            <h2>The Data:</h2><br>
            Movie Data was obtained under<br>
            CC0: Public Domain license from 
            <a href="https://www.kaggle.com/datasets/rounakbanik/the-movies-dataset">Kaggle</a>
            <br>
            # of movies: 4,803<br>
            # of keyword tags: 9,848<br>
            # of genres: 18<br>
            # of languages: 36 <br>
        </div>
    </div>
    </body>
</html>