<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset = "UTF-8">
    <link rel="stylesheet" type = "text/css" href="css/styles.css">
</head>

<body>
  <!--Beginning of Banner Container-->
  <ul class = "flex-banner-container">
    <li class = "flex-banner-content">
      <h1>Struggle finding a movie to watch?</h1>
    </li>
  </ul>
  <!--End of Banner Container-->
  <!--Beginning of Search Container-->
  <ul class = "flex-search-container">
    <!--Beginning of Left-Side Description Container-->
    <li class = flex-search-description>
      <h1><img src="images/cinemalogo.PNG" alt ="cinelogo" height="500" width="500"></h1>
      
      <p><b>Enter your search here! &rarr;</b></p>
      <p>some info about the project, etc.</p>
    </li>
    <!--End of Left-Side Description Container-->
    
    <!--Beginning of Right-Side Search Box Container-->
    <li class = "flex-search-searchbox">
      <form action = "/search" enctype = "multipart/form-data" method = "post">
        <h2>Genres:</h2> 
        <ul class = "flex-search-genres">
            <% for(var i=0; i <data.allGenres.length; i++) { %>
                <li class = flex-search-genre-item>
                  <input type = "checkbox" name = "genres" value = "<%=data.allGenres[i] %>"> 
                  <%= data.allGenres[i] %>
                </li>
            <% } %> 
        </ul>
        <h2>Keyword:</h2>
        <li class = "flex-search-keywords">
          <input type="text" id="keyword1" name="keywords"> 
        </li>
        <input type="submit" class = "design" value="Submit">
      </form>
    </li>
  </ul>
  <!--End of Right-Side Search Box Container-->


</body>
</html>

