<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset = "UTF-8">
    <link rel="stylesheet" type = "text/css" href="css/styles.css">
</head>
<body>
    <h1> Welcome to Cinema! </h1>
    <p>Do you have a hard time deciding which movie to watch? If you are stuck on deciding which movie to watch with a group of friends, don't worry! Cinema allows you to search any genre you like and provides you with a list of a variety of movies in that genre selected! </p>
        <br>

        <!--This is a stub to demonstrate how the backend accepts search terms.-->
        <p>pick genres:</p>
        <form action = "/search" enctype = "multipart/form-data" method = "post">
            <br>
            <!-- Genres to search for -->
            Action <input type = "checkbox" name = "genre" value = "Action">
            <br>
            Crime <input type = "checkbox" name = "genre" value = "Crime">
            <br>
            Sci-Fi<input type = "checkbox" name = "genre" value = "Sci-Fi">
            <br>
            <input type = "radio" id = "all" name = "type" value = "all">
            <label for = "all">Movies that match all chosen genres </label>
            <br>

            <!-- Choose to search for all checked genres or any-->
            <input type = "radio" id = "any" name = "type" value = "any">
            <label for = "any">Movies that match any of the chosen genres</label>
            <br>
            <input type = "submit" value = "submit">
        </form>

</body>
</html>

