<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset = "UTF-8">
    <link rel="stylesheet" type = "text/css" href="css/styles.css">
  </head>
  <header>
    <%- include('./partials/header.ejs'); %>
  </header>
  <body>
    <ul class = "flex-searchbox">
      <form action = "/search" enctype = "multipart/form-data" method = "post">
        <h2>Choose your genres:</h2> </br>
          <% for(var i=0; i <data.allGenres.length; i++) { %>    
            <li class="flex-search-genre">
              <input type = "checkbox" name = "genres" value = "<%=data.allGenres[i] %>">
               <%= data.allGenres[i] %>
              <% if (i % 5 == 0) { %> </br> <% } %>
            </li>
          <% } %> 
          <br> 
          <br>
          <p style="font-size=20px;">
            <input type = "radio" name = "genreChoice" value = "all" checked> all selected genres  <br>
            <input type = "radio" name = "genreChoice" value = "any"> any of the selected genres 
          </p>
        <br>
        <h2>Add a keyword:</h2> 
        <input style="font-size: 22pt" type ="text" id="keyword1" name="keywords"> </br><br>
        <input type="submit" value="Find Movies!">
      </form>
    </ul>
  </body>
</html>

