<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset = "UTF-8">
    <title>Cinema</title>
    <link rel="icon" type="image/x-icon" href="/images/cinema_logo.svg">
    <link rel="stylesheet" type = "text/css" href="css/styles.css">
  </head>
  <header>
    <h1 id = "nav-logo">
      <a href="/"><img src="images/cinema_logo.png" alt ="cinelogo" width="200"></a>
    </h1>
    <h2 style="font-size: 25px;"> Select genres and a keyword for your personal movie recommendations!</h2>
    <ul>
        <li><a href="/about">About</a></li>
    </ul>   
  </header>
  <body>
    <ul class = "flex-searchbox">
      <form action = "/search" enctype = "multipart/form-data" method = "post">
        <h2>Choose your genres:</h2> </br>
          <% for(var i=0; i < genres.length; i++) { %>    
            <li class="flex-search-genre">
              <input type = "checkbox" name = "genres" value = "<%=genres[i] %>">
              &nbsp;<%=genres[i] %>
              <% if (i % 5 == 0) { %> </br> <% } %>
            </li>
          <% } %> 
          <br> 
          <br>
          <p style="font-size=20px;">
            <input type = "radio" name = "genreChoice" value = "all" checked> all selected genres  <br>
            <input type = "radio" name = "genreChoice" value = "any"> any of the selected genres 
          </p>
        <br>
        <h2>Add a keyword:</h2> 
        <input style="font-size: 22pt" type ="text" id="keyword1" name="keywords"> </br><br>
        <input type="submit" value="Find Movies!">
      </form>
    </ul>
  </body>
</html>

