<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset = "UTF-8">
    <link rel="stylesheet" type = "text/css" href="css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Arima:wght@100&family=Kantumruy+Pro:wght@100&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide">
  <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Tangerine">
</head>
<body>
    <h1>Cinem@! 
    <style>
      h1 {
        font-family: 'Tangerine', serif;
      }
    </style></h1>
    <h2>~a new world of movie reccomendations~</h2>
    <p>Do you have a hard time deciding which movie to watch? If you are stuck on deciding which movie to watch with a group of friends, don't worry! Cinema allows you to search any genre you like and provides you with a list of a variety of movies in that genre selected! </p>
        <br>
    <p>
      List of keyword choices: (only showing 10 of 9,000!)
      <form action = "/search" enctype = "multipart/form-data" method = "post">
        <nav>
          <p>Cinem@</p>
          <ul>
            <li><a href="index.ejs">Home</a> </li>
            <li><a href="#">Choose your movie here</a> </li>
              <ul>
                <li><a href="#">Genres</a> </li>
                 <li><a href="#">Keywords</a> </li>
          </ul>
        </nav>
      <table>
        <% for(var i=0; i < 50; i++) { %>
           <tr>
             <td>
              <input type = "checkbox" name = "keywords" value = "<%=data.allKeywords[i] %>"> 
              <td><%= data.allKeywords[i] %></td>
           </tr>
        <% } %>
        </table>
        <br><br>
    List of genre choices: 
      <table>
        <% for(var i=0; i < data.allGenres.length; i++) { %>
           <tr>
             <td>
              <input type = "checkbox" name = "genres" value = "<%=data.allGenres[i] %>"> 
              <td><%= data.allGenres[i] %></td>
           </tr>
        <% } %>
        </table>
        <input type="submit" value="Submit">
      </form>
    </p>
</body>
</html>

