<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset = "UTF-8">
    <link rel="stylesheet" href="styles.css">
    <body>
        <h2>List of all movies matching: 
        <% for(var i=0; i < data.search.genre.length; i++) { %>
                <%- data.search.genre[i] %> ,
        <% } %>
        </h2>
        <br>
        <% for(var i=0; i < data.movies.length; i++) { %>
            <li>
               <b> <%- data.movies[i].title %> </b> <br>
               Genres:  
                <% for(var j=0; j < data.movies[i].genres.length; j++) { %>
                        <%- data.movies[i].genres[j] %> ,
                <% } %>
                <br><br>
            </li>
        <% } %>
    </body>
</head>
</html>