body{
  text-align: center;
  font-family: 'Courier New', monospace;
  background-color: #f8e9cd;
}

h1{
  font-size:75px;
  color: #000000
}

h3{
  color: #551a8b
}

.design {
  font-family: 'Courier New', monospace;
  background-color: #F1EB9C;
}

.styled-table{
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table tbody tr{
  border-bottom: 1px solid #dddddd
}

.styled-table tbody tr:nth-of-type(even){
  background-color: #eaccca;
}

.styled-table tbody tr:last-of-type(even){
  background-color: #d69f9c;
}

table {
  padding-left: 380px;
  padding-bottom: 20px;
}

td {
  text-align: center;
}