/*Styles used on all pages*/

/*Global Styles*/
*{
  margin: 0;
  padding: 0;
  font-family: 'Source Code Pro', monospace;
}

body{
  background-color: #f2ddb0;
}
h4{
  color:rgb(0, 0, 0);
  text-align: center;
}
h2{
  font-size: 35px;
}


h3{/*Used for movie titles on results page*/
  font-size: 25px;
  margin-top: 0px;
  display: inline;
}

/*Link Syles*/
a:link {
  color: #f2ddb0;
  background-color: transparent;
  text-decoration: none;
}
  
a:visited {
  color: #f2ddb0;
  background-color: transparent;
  text-decoration: none;
}
  
a:hover {
  color: rgb(63, 63, 63);
  background-color: transparent;
  text-decoration: underline;
}
  
a:active {
  color: #f2ddb0;
  background-color: transparent;
  text-decoration: underline;
}

/*Banner Styles*/
header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 10px;
  box-shadow: 0 1px 8px #ddd;
  background-color: rgb(63, 63, 63);
}


#nav-logo {
  margin-right: auto;
  align-self: flex-start;
  font-size: 1.5em;
}

header li {
  align-self: flex-start;
  list-style: none;
  display: inline-block;
  padding: 0 30px;
}

header h2 {
  font-size: 30px;
  text-align: center;  
  color: #fdd377;
  padding: 0 110px;
}

header a {
  font-size: 20px;
  text-decoration: none;
  color: #f2ddb0;
  transition: all 0.3s ease 0s;
}

header a:hover {
  color: #AA4A44;
}


/*Button Styles*/
input[type=button], input[type=submit], input[type=reset] {
  background-color: rgb(63, 63, 63);
  border: none;
  border-radius: 10px;
  color: #f2ddb0;
  padding: 16px 32px;
  font-size: 35px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

/*Index page Styles*/
.flex-searchbox{
  display: flex;
  flex: 1 1 100%;
  flex-wrap: wrap;
  flex-flow: row wrap;
  justify-content: space-around;
  color: rgb(43, 42, 42);
  background-color: #b65c55;
  padding-top: 15px;
  padding-right: 40px;
  padding-left: 110px;
  padding-bottom: 10px;
  text-align: center;
  font-size: 25px;
  font-weight: bolder;
  border-radius: 14px;
  margin-top: 10px;
  margin-right: 25px;
  margin-left: 25px;
  margin-bottom: 5px;
  list-style-type: none;
}

.flex-search-genre{
  display: inline-flex;
  width: 180px;
}

/*About Page Styles*/
.flex-aboutbox-container{
  display: flex;  
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  padding-top: 10px;
  margin: 10px;
  list-style: none;
  gap: 5px;
}

.flex-aboutbox-top{
  display: flex;
  width: 100%;
  flex-direction: column;
  font-size: 30px;
  padding: 10px;
  background: #b65c55;
  text-align: center;
  justify-content: center;
  margin: 5px;
  padding: 10px;
  border-radius: 14px;
}

.flex-aboutbox-bottom{
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  font-size: 28px;
  padding: 10px;
  background:rgb(155, 146, 143);
  justify-content: space-around;
  text-align: center;
  margin: 5px;
  padding: 10px;
  border-radius: 14px;
  list-style: none;
}

/*Results Page Styles*/
.flex-details-container{ /*Search Results details at top of page*/
  display: flex;
  flex: 1 1 100%;
  flex-wrap: wrap;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  text-align: center;
  color: rgb(46, 46, 46);
  background-color: rgb(155, 146, 143);
  font-size: 25px;
  font-weight: bolder;
  padding: 10px;
  margin: 10px;
  margin-right: 25px;
  margin-left: 25px;
  border-radius: 14px;
  list-style: none;
}


.flex-results-container{ /*Container for the list of results*/
  display: flex;
  flex: 0 0 100%;
  flex-flow: row wrap;
  justify-content:center;
  list-style: none;
  padding-right: 40px;
  padding-left: 40px;
}


.flex-result{ /*Container for each individual movie*/
  flex: 0  0 100%;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: left;
}

/*Collapsible Items*/
details{
  width: 100%;
  padding: 5px;
}

details > summary{
  width: 100%;
  background-color:#AA4A44;
  font-size: 25px;
  border: 2px solid #AA4A44;
  border-bottom: none;
  cursor: pointer;
  border-radius: 2px;
}

details > p{
  border-radius: 0 0 10px 10px;
  background-color:rgb(155, 146, 143);
  color:rgb(32, 32, 32);
  font-size: 20px;
  border: 2px solid rgb(46, 46, 46);
  border-top: none;
  padding: 2px 6px;
  margin: 0;
}

details[open] > summary{
  background-color:rgb(46, 46, 46);
  color: #ccc;
}

